body {
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    background-color: #ff0000; /* Cor de fundo da página */
    color: #ff0000; /* Cor do texto */
    margin: 20px; /* Margem em volta do conteúdo */
    text-align: center; /* Alinha o texto ao centro */
    }
    h1 {
    color: #0056b3; /* Cor do título principal */
    }
    p {
    line-height: 1.6; /* Espaçamento entre as linhas do parágrafo */
    }
    ul {list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
    }
    
    li {
    background-color: #000000;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    display: inline-block; /* Faz os itens da lista ficarem lado a lado */
    margin-right: 10px;
    }
    img {
    border: 3px solid #f70707; /* Borda na imagem */
    border-radius: 50%; /* Faz a imagem ficar redonda */
    margin-top: 20px;
    }
    a {
    color: #007bff; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    }
    a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    }